.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: var(--gray-50);
  padding: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image {
  max-width: 522px;
  width: 100%;
  height: 100%;
}
.title {
  color: var(--gray-200);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.result {
  max-width: 456px;
  width: 100%;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  .title {
    text-align: center;
  }
  .result {
    text-align: center;
    font-size: 32px;
    margin: 16px 0;
  }
  .wrapper > button {
    margin: 0 auto;
  }
}
