.wrapper {
  display: flex;
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.box {
  max-width: 389px;
  width: 100%;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid var(--gray-100);
  padding: 24px 48px;
  background: var(--white-color);
  border-radius: 10px;
  margin: 16px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.box:hover {
  border: 1px solid #ff8b37;
}
.box:active {
  border: 1px solid var(--init-br);
  background: var(--init-bg);
}
.successful {
  border: 1px solid var(--success-br);
  background: var(--success-bg);
}
.failed {
  border: 1px solid var(--error-br);
  background: var(--error-bg);
}
.option {
  color: var(--text-color-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.value {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-primary);
  margin-left: 8px;
}

@media (max-width: 978px) {
  .box {
    margin: 4px 0;
  }
}
