.root {
  border-radius: 12px;
  background: var(--btn-bg-init);
  width: 296px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: var(--white-color);
  transition: all 0.2s;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  border: none;
}

.root:hover {
  background: var(--btn-bg-hover);
}

.root:active {
  background: var(--btn-bg-active);
}
