.root {
}
.box {
  max-width: 240px;
  width: 100%;
  margin: 4px auto;
  border: 1px solid var(--gray-100);
  background: var(--white-color);
  padding: 9px;
  text-align: center;
  border-radius: 10px;
}

.currentQuestion {
  color: var(--text-color-secondary);
  border: 1px solid var(--init-br);
}

.previousQuestion {
  color: var(--text-color-tertiary);
}

.nextQuestion {
  color: var(--text-color-primary);
}
