.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contentWrapper {
  width: 100%;
}
.menuWrapper {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  background: var(--gray-50);
  position: absolute;
  right: 0;
}
