.root {
  width: 100%;
  padding: 100px 60px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: var(--gray-50);
}
.question {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-color-primary);
  padding-left: 16px;
}

@media (max-width: 978px) {
  .root {
    padding: 16px;
    justify-content: space-evenly;
  }
}
