:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* / */
  --btn-bg-init: #ff8b37;
  --btn-bg-hover: #ffac70;
  --btn-bg-active: #e87928;

  --init-bg: #fff3eb;
  --init-br: #ff8b37;

  --error-bg: #fdeeed;
  --error-br: #ec6259;

  --success-bg: #e6faea;
  --success-br: #47d867;

  --text-color-primary: #1c1c21;
  --text-color-secondary: #ff8b37;
  --text-color-tertiary: #d0d0d8;

  --white-color: #fff;

  --gray-50: #f5f5f7;
  --gray-100: #d0d0d8;
  --gray-200: #858689;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
