.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(155deg, var(--white-color) 50%, var(--init-bg) 50%);
  padding: 16px;
}
.image {
  max-width: 522px;
  width: 100%;
  height: 100%;
}
.title {
  max-width: 456px;
  width: 100%;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}

@media (max-width: 978px) {
  .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
  }
  .wrapper > button {
    margin: 0 auto;
  }
}
