.root {
  max-width: 376px;
  width: 100%;
  padding: 16px;
  background: var(--white-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 520px) {
  .root {
    max-width: 100%;
    background: var(--gray-50);
  }
}
