.root {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.root input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.root span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text-color-primary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.root span:first-child {
  transform-origin: 0% 0%;
}

.root span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.root input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -19px);
  background: var(--text-color-primary);
}

.root input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.root input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 19px);
}

.root input:checked ~ ul {
  transform: none;
}
